/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif; */
:root {
  --branding-color: #97cba9;
  --secondary-color: #feffdf;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-famil: "Pappins", sans-serif;
}
body {
  font-family: var(--default-font-famil);
}
h1,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  font-size: 96px;
  font-weight: bold;
}
.hero h2 {
  color: gray;

  line-height: 2;
}
p {
  font-weight: normal;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 30px;
}
.btn-branding {
  border-radius: 30px;
  background-color: var(--branding-color);
  color: #668ba4;
  font-size: 18px;
  line-height: 27px;
  padding: 20px;
}
